body {
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  background: #f6f6f6;
}

.App {
  max-width: 500px;
  min-height: 100vh;
  padding: 24px;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
}

.AppLink {
  font-size: 14px;
  line-height: 24px;
  display: block;
  color: #006afe;
}
.AppLink:hover {
  cursor: pointer;
}

.header {
  height: 48px;
  line-height: 48px;
  background: #fff;
  text-align: center;
  border-bottom: 1px solid #f6f6f6;
}

.headImg {
  height: 36px;
  width: 36px;
  margin-right: 12px;
}

.title {
  height: 36px;
  line-height: 36px;
  color: #171a1d;
  font-size: 18px;
  font-weight: bold;
}

.littleTitle {
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  color: #171a1d;
}

.radioList {
  margin-bottom: 12px;
}
